# 匯入套件

In [1]:
import sqlite3
import datetime 
import tejapi

# 設定 API Key

In [2]:
tejapi.ApiConfig.api_key = "你的api_key"

# TEJ API 資料撈取

In [3]:
TSMC = tejapi.get(
'TWN/EWPRCD', 
coid = '2330',
mdate={'gt':'2020-01-01'},  
paginate=True,
chinese_column_name=True
)
TSMC

,證券碼,日期,開盤價,最高價,最低價,收盤價,成交量(千股),流通股數(千股),交易所本益比,交易所淨值市價比,現金股利率,開盤價-除權息,最高價-除權息,最低價-除權息,收盤價-除權息
None,,,,,,,,,,,,,,,
0,2330,2020-01-02 00:00:00+00:00,332.5,339.0,332.5,339.0,33282.120,25930380,26.69,5.54,2.5074,323.3200,329.6405,323.3200,329.6405
1,2330,2020-01-03 00:00:00+00:00,344.0,345.0,335.5,339.5,42023.268,25930380,26.73,5.55,2.5037,334.5025,335.4749,326.2372,330.1267
2,2330,2020-01-06 00:00:00+00:00,333.0,334.5,332.0,332.0,45677.057,25930380,26.14,5.42,2.5602,323.8062,325.2648,322.8338,322.8338
3,2330,2020-01-07 00:00:00+00:00,332.5,333.0,326.5,329.5,51746.181,25930380,25.94,5.38,2.5797,323.3200,323.8062,317.4857,320.4028
4,2330,2020-01-08 00:00:00+00:00,325.0,333.0,325.0,329.5,37913.748,25930380,25.94,5.38,2.5797,316.0271,323.8062,316.0271,320.4028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,2330,2021-03-02 00:00:00+00:00,621.0,622.0,609.0,609.0,57792.973,25930380,30.50,8.54,1.6420,621.0000,622.0000,609.0000,609.0000
279,2330,2021-03-03 00:00:00+00:00,609.0,622.0,601.0,622.0,61171.387,25930380,31.15,8.72,1.6077,609.0000,622.0000,601.0000,622.0000
280,2330,2021-03-04 00:00:00+00:00,609.0,611.0,601.0,601.0,75508.388,25930380,30.10,8.43,1.6639,609.0000,611.0000,601.0000,601.0000
281,2330,2021-03-05 00:00:00+00:00,588.0,605.0,584.0,601.0,85579.527,25930380,30.10,8.43,1.6639,588.0000,605.0000,584.0000,601.0000
282,2330,2021-03-08 00:00:00+00:00,608.0,610.0,598.0,598.0,47676.630,25930380,29.94,8.38,1.6722,608.0000,610.0000,598.0000,598.0000

# 所有上市普通股當日股價撈取

In [4]:
import sqlite3
import datetime 
import tejapi

stocks = tejapi.get('TWN/EWNPRCSTD',paginate=True)
# 上市所有普通股代碼
code = stocks[(stocks.market=='TSE')&(stocks.stypenm == '普通股')].coid.values
# 連接資料庫
conn = sqlite3.connect('example.db')
for stock in code:
    stockname = 's'+stock
    data = tejapi.get('TWN/EWPRCD',coid = stock,mdate = {'gt':datetime.datetime.now()-datetime.timedelta(days=1)}
                      ,opts = {'columns':['mdate','open_adj','high_adj','low_adj','close_adj','volume']}
                      ,paginate=True
                      ,chinese_column_name=True
                     )
    # 資料存入資料庫
    data.to_sql(name = stockname, con = conn, if_exists='append', index=False)
conn.close()