## Week 11 Medium - TEJ API Document簡介

In [1]:
import tejapi
tejapi.ApiConfig.api_key = "yourkey"

### 使用者資訊

In [9]:
info = tejapi.ApiConfig.info()

'user': {'userId': 234,
  'shortName': '2021011902',
  'name': 'XX',
  'subscritionStartDate': '2018-01-01',
  'subscritionEndDate': '2050-12-31',
  'maxKey': 1,
  'tables': {'KOR/KHSUSP1': {'tableId': 'KOR/KHSUSP1',
    'startUsageDate': '2000-01-01T00:00:00Z',
    'endUsageDate': '2999-12-31T00:00:00Z',
    'dataStartYear': 2000,
    'dataEndYear': 2999,
    'allowColumns': [],
    'conditions': ''},
   'TWN/ASSALE': {'tableId': 'TWN/ASSALE',
    'startUsageDate': '2000-01-01T00:00:00Z',
    'endUsageDate': '2999-12-31T00:00:00Z',
    'dataStartYear': 2000,
    'dataEndYear': 2999,
    'allowColumns': [],
    'conditions': ''},
   'TWN/AFTOP': {'tableId': 'TWN/AFTOP',
    'startUsageDate': '2000-01-01T00:00:00Z',
    'endUsageDate': '2999-12-31T00:00:00Z',
    'dataStartYear': 2000,
    'dataEndYear': 2999,
    'allowColumns': [],

In [3]:
tejapi.get('TWN/APRCD',coid='Y9999')

,coid,mdate,open_d,high_d,low_d,close_d,volume,amount,roi,turnover,...,tej_cdiv,clschg,hmlpct,refprc,u_limit,d_limit,xattn1,xattn2,xstat1,pmkt
None,,,,,,,,,,,,,,,,,,,,,
0,Y9999,2000-01-04 00:00:00+00:00,8644.91,8803.61,8642.50,8756.55,3903000.0,228618000.0,3.6420,1.2268,...,0.78,307.71,1.9069,None,None,None,,,,TSE
1,Y9999,2000-01-05 00:00:00+00:00,8690.60,8867.68,8668.02,8849.87,4602000.0,252758000.0,1.0657,1.4613,...,0.78,93.32,2.2801,None,None,None,,,,TSE
2,Y9999,2000-01-06 00:00:00+00:00,8876.59,9023.99,8863.91,8922.03,4811000.0,268146000.0,0.8154,1.5212,...,0.77,72.16,1.8088,None,None,None,,,,TSE
3,Y9999,2000-01-07 00:00:00+00:00,8856.87,8940.77,8739.43,8845.47,4481000.0,222699000.0,-0.8581,1.4300,...,0.78,-76.56,2.2567,None,None,None,,,,TSE
4,Y9999,2000-01-10 00:00:00+00:00,8918.60,9126.02,8891.79,9102.60,4363000.0,244443000.0,2.9069,1.3727,...,0.76,257.13,2.6480,None,None,None,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5292,Y9999,2021-05-07 00:00:00+00:00,17032.23,17285.00,17032.23,17285.00,12162298.0,459107262.0,1.7102,1.1760,...,2.65,290.64,1.4874,None,None,None,,,,TSE
5293,Y9999,2021-05-10 00:00:00+00:00,17274.23,17304.47,17188.15,17235.61,12944671.0,501395823.0,-0.2857,1.2895,...,2.66,-49.39,0.6730,None,None,None,,,,TSE
5294,Y9999,2021-05-11 00:00:00+00:00,17137.19,17137.19,16460.87,16583.13,17856079.0,725085815.0,-3.7857,1.8104,...,2.77,-652.48,3.9240,None,None,None,,,,TSE
5295,Y9999,2021-05-12 00:00:00+00:00,16515.88,16552.63,15165.27,15902.37,20092847.0,782825325.0,-4.1051,1.9503,...,2.89,-680.76,8.3661,None,None,None,,,,TSE
5296,Y9999,2021-05-13 00:00:00+00:00,15668.33,16031.93,15368.54,15670.10,14638813.0,574583620.0,-1.4606,1.4859,...,2.93,-232.27,4.1716,None,None,None,,,,TSE

### 忽略時區

In [4]:
tejapi.ApiConfig.ignoretz = True

In [5]:
tejapi.get('TWN/APRCD',coid='Y9999')

,coid,mdate,open_d,high_d,low_d,close_d,volume,amount,roi,turnover,...,tej_cdiv,clschg,hmlpct,refprc,u_limit,d_limit,xattn1,xattn2,xstat1,pmkt
None,,,,,,,,,,,,,,,,,,,,,
0,Y9999,2000-01-04,8644.91,8803.61,8642.50,8756.55,3903000.0,228618000.0,3.6420,1.2268,...,0.78,307.71,1.9069,None,None,None,,,,TSE
1,Y9999,2000-01-05,8690.60,8867.68,8668.02,8849.87,4602000.0,252758000.0,1.0657,1.4613,...,0.78,93.32,2.2801,None,None,None,,,,TSE
2,Y9999,2000-01-06,8876.59,9023.99,8863.91,8922.03,4811000.0,268146000.0,0.8154,1.5212,...,0.77,72.16,1.8088,None,None,None,,,,TSE
3,Y9999,2000-01-07,8856.87,8940.77,8739.43,8845.47,4481000.0,222699000.0,-0.8581,1.4300,...,0.78,-76.56,2.2567,None,None,None,,,,TSE
4,Y9999,2000-01-10,8918.60,9126.02,8891.79,9102.60,4363000.0,244443000.0,2.9069,1.3727,...,0.76,257.13,2.6480,None,None,None,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5292,Y9999,2021-05-07,17032.23,17285.00,17032.23,17285.00,12162298.0,459107262.0,1.7102,1.1760,...,2.65,290.64,1.4874,None,None,None,,,,TSE
5293,Y9999,2021-05-10,17274.23,17304.47,17188.15,17235.61,12944671.0,501395823.0,-0.2857,1.2895,...,2.66,-49.39,0.6730,None,None,None,,,,TSE
5294,Y9999,2021-05-11,17137.19,17137.19,16460.87,16583.13,17856079.0,725085815.0,-3.7857,1.8104,...,2.77,-652.48,3.9240,None,None,None,,,,TSE
5295,Y9999,2021-05-12,16515.88,16552.63,15165.27,15902.37,20092847.0,782825325.0,-4.1051,1.9503,...,2.89,-680.76,8.3661,None,None,None,,,,TSE
5296,Y9999,2021-05-13,15668.33,16031.93,15368.54,15670.10,14638813.0,574583620.0,-1.4606,1.4859,...,2.93,-232.27,4.1716,None,None,None,,,,TSE

### 欄位選擇：開高低收＋時間

In [6]:
tejapi.get('TWN/APRCD',coid='Y9999', 
           opts={'columns':['mdate','open_d', 'high_d', 'low_d', 'close_d']}, 
           mdate={'gt':'2019-01-01'})

          mdate    open_d    high_d     low_d   close_d
None
0    2019-01-02   9725.27   9737.68   9542.52   9554.14
1    2019-01-03   9494.25   9554.53   9474.47   9492.42
2    2019-01-04   9427.24   9427.24   9319.28   9382.51
3    2019-01-07   9460.20   9596.35   9460.20   9590.30
4    2019-01-08   9591.56   9600.94   9547.63   9563.60
...         ...       ...       ...       ...       ...
565  2021-05-07  17032.23  17285.00  17032.23  17285.00
566  2021-05-10  17274.23  17304.47  17188.15  17235.61
567  2021-05-11  17137.19  17137.19  16460.87  16583.13
568  2021-05-12  16515.88  16552.63  15165.27  15902.37
569  2021-05-13  15668.33  16031.93  15368.54  15670.10

[570 rows x 5 columns]

In [7]:
tejapi.table_info('TWN/APRCD')

{'dbCode': 'TWN',
 'tableCode': 'APRCD',
 'name': '上市(櫃)未調整股價(日)',
 'description': '上市(櫃)未調整股價(日)(TWN/APRCD)<br />【資料範圍】上市的證券及指數(TSE及OTC)<br />【資料期間】2000年至今<br />【資料頻率】日<br />【資料表分類】交易<br />【代碼對照表】TWN/ANPRCSTD<br />【代碼欄位】<br />【發佈日期欄位】mdate',
 'filters': ['coid',
  'mdate',
  'open_d',
  'high_d',
  'low_d',
  'close_d',
  'volume',
  'amount',
  'roi',
  'turnover',
  'outstanding',
  'mv',
  'bid',
  'offer',
  'roib',
  'mv_pct',
  'amt_pct',
  'trn_d',
  'per_tse',
  'per_tej',
  'pbr_tse',
  'pbr_tej',
  'limit',
  'tej_psr',
  'div_yid',
  'tej_cdiv',
  'clschg',
  'hmlpct',
  'refprc',
  'u_limit',
  'd_limit',
  'xattn1',
  'xattn2',
  'xstat1',
  'pmkt'],
 'primaryKey': ['coid', 'mdate'],
 'status': {'status': 'OK',
  'refreshed_at': datetime.datetime(2021, 5, 14, 5, 21, 49)},
 'pivot': False,
 'columns': {'coid': {'name': 'coid',
   'type': 'char(7)',
   'cname': '證券代碼',
   'description': '交易所及櫃檯買賣中心所訂的代碼',
   'unit': '-'},
  'mdate': {'name': 'mdate',
   'type': 'datetime',
   'cname': '年月日',
   'description': '年月日',
   'unit': '-'},
  'open_d': {'name': 'open_d',
   'type': 'decimal(11,4)',
   'cname': '開盤價(元)',
   'description': '興櫃股票不提供開盤價，本處之開盤價為前一交易日之收盤價。首次上興櫃日當日開盤價以[－]值代入',
   'unit': 'NTD'},
  'high_d': {'name': 'high_d',
   'type': 'decimal(11,4)',
   'cname': '最高價(元)',
   'description': '若當日無成交，以前一交易日收盤價代入',
   'unit': 'NTD'},
  'low_d': {'name': 'low_d',
   'type': 'decimal(11,4)',
   'cname': '最低價(元)',
   'description': '若當日無成交，以前一交易日收盤價代入',
   'unit': 'NTD'},
  'close_d': {'name': 'close_d',
   'type': 'decimal(11,4)',
   'cname': '收盤價(元)',
   'description': '若當日無成交，以前一交易日收盤價代入',
   'unit': 'NTD'},
  'volume': {'name': 'volume',
   'type': 'decimal(19,3)',
   'cname': '成交量(千股)',
   'description': '當日若成交量為0，表示當日無交易，此時之開高低收價格為前一日之收盤價<br />除加權指數(Y9999)外，產業部分由TEJ衍生，為成分股成交量之加總',
   'unit': 'T'},
  'amount': {'name': 'amount',
   'type': 'decimal(19,3)',
   'cname': '成交值(千元)',
   'description': '未無考慮公眾流通量(free float)；除加權指數(Y9999)外，產業部分由TEJ衍生',
   'unit': 'NTD,T'},
  'roi': {'name': 'roi',
   'type': 'decimal(11,4)',
   'cname': '報酬率％',
   'description': '當OTC轉至TSE交易時，報酬率以承銷價計算，若無承銷價，則以OTC最後一天之收盤價來計算。',
   'unit': '%'},
  'turnover': {'name': 'turnover',
   'type': 'decimal(9,4)',
   'cname': '週轉率％',
   'description': '個股=成交量/流通股數*100(%)；產業＝產業成交量總額/產業流通股數*100(%)',
   'unit': '%'},
  'outstanding': {'name': 'outstanding',
   'type': 'decimal(12,0)',
   'cname': '流通在外股數(千股)',
   'description': '流通在外股數(千股)',
   'unit': 'T'},
  'mv': {'name': 'mv',
   'type': 'decimal(12,0)',
   'cname': '市值(百萬元)',
   'description': '個股：流通在外股數(個股)*未調整收盤價；<br />指數：為反映該股票於市場上實際可流通之股數，會將各成分股之公開發行股數扣除長期性、策略性持  股比例，故計算指數市值時，若該指數有考慮公眾流通量(交易所與FTSE合編的指數)，則市值公式=未調整收盤價*流通在外股數(個股)*公眾流通係數(此係數由交易所提供)',
   'unit': 'NTD,T'},
  'bid': {'name': 'bid',
   'type': 'decimal(11,4)',
   'cname': '最後揭示買價',
   'description': '最後揭示買價',
   'unit': 'NTD'},
  'offer': {'name': 'offer',
   'type': 'decimal(11,4)',
   'cname': '最後揭示賣價',
   'description': '最後揭示賣價',
   'unit': 'NTD'},
  'roib': {'name': 'roib',
   'type': 'decimal(11,4)',
   'cname': '報酬率-Ln',
   'description': '報酬率-Ln',
   'unit': '-'},
  'mv_pct': {'name': 'mv_pct',
   'type': 'decimal(7,3)',
   'cname': '市值比重％',
   'description': '=市值/加權指數有效成分股總市值*100(%)<br />(產業之市值比重:產業有效成分股之總市值/加權指數有效成分股總市值*100(%))',
   'unit': '%'},
  'amt_pct': {'name': 'amt_pct',
   'type': 'decimal(7,3)',
   'cname': '成交值比重％',
   'description': '=成交值/加權指數有效成分股總成交值*100(%)',
   'unit': '%'},
  'trn_d': {'name': 'trn_d',
   'type': 'decimal(9,0)',
   'cname': '成交筆數(筆)',
   'description': '成交筆數(筆)',
   'unit': '-'},
  'per_tse': {'name': 'per_tse',
   'type': 'decimal(11,4)',
   'cname': '本益比-TSE',
   'description': '=收盤價/最近4季合計之每股淨利，交易所提供',
   'unit': '-'},
  'per_tej': {'name': 'per_tej',
   'type': 'decimal(11,4)',
   'cname': '本益比-TEJ',
   'description': '=收盤價/最近4季合計之每股常續性淨利，TEJ提供<br />本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新常續性淨利資料，首次上市需滿一年的次一年度1/1始計算。',
   'unit': '-'},
  'pbr_tse': {'name': 'pbr_tse',
   'type': 'decimal(11,4)',
   'cname': '股價淨值比-TSE',
   'description': '=收盤價/每股淨值，交易所提供(不含興櫃)。<br />TSE自民國94年9月1日開始提供，OTC自民國92年8月開始提供',
   'unit': '-'},
  'pbr_tej': {'name': 'pbr_tej',
   'type': 'decimal(11,4)',
   'cname': '股價淨值比-TEJ',
   'description': 'TEJ 衍生，本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新股東權益資料，首次上市需滿一年的次一年度1/1始計算。',
   'unit': '-'},
  'limit': {'name': 'limit',
   'type': 'char(1)',
   'cname': '漲跌停',
   'description': '股票漲停：”+”；跌停：”-“',
   'unit': '-'},
  'tej_psr': {'name': 'tej_psr',
   'type': 'decimal(11,4)',
   'cname': '股價營收比-TEJ',
   'description': '=市值/最近4季合計之營收，TEJ提供<br />本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新營收資料，首次上市需滿一年的次一年度1/1始計算。',
   'unit': '-'},
  'div_yid': {'name': 'div_yid',
   'type': 'decimal(11,4)',
   'cname': '股利殖利率-TSE',
   'description': '即每股股利與當日名目收盤價之比值，其中每股股利=該公司每股配發之現金股利+盈餘轉增資股票股利。<br />此欄位由交易所提供，其中97/07/17以前之資料交易所計算方式係採取前一筆有發放股利之資料來計算，即當年度公司不發放股利，則以前一年度或更早以前的股利資料計算不合理，故97/07/17交易所已修正為以該年度之資料來計算，故前後期資料會有所差異。',
   'unit': '%'},
  'tej_cdiv': {'name': 'tej_cdiv',
   'type': 'decimal(11,4)',
   'cname': '現金股利率',
   'description': '=現金股利總額/市值*100%，TEJ提供',
   'unit': '%'},
  'clschg': {'name': 'clschg',
   'type': 'decimal(11,4)',
   'cname': '股價漲跌(元)',
   'description': '股價漲跌(元)',
   'unit': '-'},
  'hmlpct': {'name': 'hmlpct',
   'type': 'decimal(11,4)',
   'cname': '高低價差%',
   'description': '高低價差%',
   'unit': '%'},
  'refprc': {'name': 'refprc',
   'type': 'decimal(10,4)',
   'cname': '次日開盤參考價',
   'description': '次日開盤參考價',
   'unit': '-'},
  'u_limit': {'name': 'u_limit',
   'type': 'decimal(10,4)',
   'cname': '次日漲停價',
   'description': '次日漲停價',
   'unit': '-'},
  'd_limit': {'name': 'd_limit',
   'type': 'decimal(10,4)',
   'cname': '次日跌停價',
   'description': '次日跌停價',
   'unit': '-'},
  'xattn1': {'name': 'xattn1',
   'type': 'char(1)',
   'cname': '注意股票(A)',
   'description': '公布異常交易有價證券之交易資訊',
   'unit': '-'},
  'xattn2': {'name': 'xattn2',
   'type': 'char(1)',
   'cname': '處置股票(D)',
   'description': '對連續公布注意交易資訊之有價證券採取之處置措施',
   'unit': '-'},
  'xstat1': {'name': 'xstat1',
   'type': 'char(1)',
   'cname': '全額交割(Y)',
   'description': '全額交割(Y)',
   'unit': '-'},
  'pmkt': {'name': 'pmkt',
   'type': 'char(5)',
   'cname': '市場別',
   'description': '市場別',
   'unit': '-'}}}

In [8]:
tejapi.search_table("未調整股價(日)")

[{'matchType': 'TABLE_MATCH',
  'tableId': 'CHN/CPRCDA',
  'tableName': '中國_未調整股價(日)-均價',
  'tableDesc': '【資料範圍】中國上市股票、與重要綜合、行業指數<br />【資料期間】從2009年開始',
  'columns': []},
 {'matchType': 'TABLE_MATCH',
  'tableId': 'TRAIL/TAPRCD',
  'tableName': '上市(櫃)未調整股價(日)',
  'tableDesc': '【資料範圍】上市的證券及指數(TSE及OTC)',
  'columns': []},
 {'matchType': 'TABLE_MATCH',
  'tableId': 'TWN/APRCD',
  'tableName': '上市(櫃)未調整股價(日)',
  'tableDesc': '上市(櫃)未調整股價(日)(TWN/APRCD)<br />【資料範圍】上市的證券及指數(TSE及OTC)<br />【資料期間】2000年至今<br />【資料頻率】日<br />【資料表分類】交易<br />【代碼對照表】TWN/ANPRCSTD<br />【代碼欄位】<br />【發佈日期欄位】mdate',
  'columns': []},
 {'matchType': 'TABLE_MATCH',
  'tableId': 'TWN/APRCDA',
  'tableName': '上市(櫃)未調整股價(日)-均價',
  'tableDesc': '一、 資料範圍：上市櫃和興櫃<br />二、 資料期間：2009年1月起<br />三、 資料頻率：日資料<br />四、 資料來源：TEJ衍生<br /><br />',
  'columns': []},
 {'matchType': 'TABLE_MATCH',
  'tableId': 'TWN/IA_APRCDD',
  'tableName': '【定錨版】上市(櫃)未調整股價(日)',
  'tableDesc': '上市(櫃)未調整股價(日)(TWN/APRCD)<br />【資料範圍】上市的證券及指數(TSE及OTC)<br />【資料期間】2000年至今<br />【資料頻率】日<br />【資料表分類】交易<br />【代碼對照表】TWN/ANPRCSTD<br />【代碼欄位】<br />【發佈日期欄位】mdate',
  'columns': []}]