## Week 1 Medium - API資料之存取/提出

In [ ]:
pip install tejapi

In [1]:
import pandas as pd
import numpy as np
import datetime

import tejapi
tejapi.ApiConfig.api_key = "你的api_key"

### TEJ API資料抓取 - 以股市資料為例

In [2]:
TSMC = tejapi.get(
    
'TWN/EWPRCD', 
coid = '2330',
mdate={'gte':'2020-01-01', 'lte':'2020-12-31'}, 
opts={'columns': ['mdate','open_d','high_d','low_d','close_d']}, 
paginate=True
)

TSMC

                         mdate  open_d  high_d  low_d  close_d
None
0    2020-01-02 00:00:00+00:00   332.5   339.0  332.5    339.0
1    2020-01-03 00:00:00+00:00   344.0   345.0  335.5    339.5
2    2020-01-06 00:00:00+00:00   333.0   334.5  332.0    332.0
3    2020-01-07 00:00:00+00:00   332.5   333.0  326.5    329.5
4    2020-01-08 00:00:00+00:00   325.0   333.0  325.0    329.5
...                        ...     ...     ...    ...      ...
240  2020-12-25 00:00:00+00:00   514.0   515.0  510.0    511.0
241  2020-12-28 00:00:00+00:00   512.0   515.0  509.0    515.0
242  2020-12-29 00:00:00+00:00   515.0   517.0  513.0    515.0
243  2020-12-30 00:00:00+00:00   516.0   525.0  514.0    525.0
244  2020-12-31 00:00:00+00:00   526.0   530.0  524.0    530.0

[245 rows x 5 columns]

### 資料存取-Excel CSV

In [3]:
#存取
path ='要存放到的路徑/{name}.csv'.format(name = "TSMC")
TSMC.to_csv(path , index=False )

#讀檔
TSMC = pd.read_csv('TSMC.csv')

In [4]:
TSMC.tail(5)

                         mdate  open_d  high_d  low_d  close_d
240  2020-12-25 00:00:00+00:00   514.0   515.0  510.0    511.0
241  2020-12-28 00:00:00+00:00   512.0   515.0  509.0    515.0
242  2020-12-29 00:00:00+00:00   515.0   517.0  513.0    515.0
243  2020-12-30 00:00:00+00:00   516.0   525.0  514.0    525.0
244  2020-12-31 00:00:00+00:00   526.0   530.0  524.0    530.0

### 資料存取-Excel Xlsx

In [5]:
#路徑設定
path ='要存放到的路徑/{name}.xlsx'.format(name = "Stock_List")
writer = pd.ExcelWriter(path , engine='xlsxwriter')

#日期資料型態整理
TSMC['mdate'] = TSMC['mdate'].apply(lambda x: pd.to_datetime(x).date())

#存取
TSMC.to_excel(writer, sheet_name='2330' ,index = False)
writer.save()

#讀檔
TSMC = pd.read_excel('Stock_List.xlsx', sheet_name = '2330')

In [6]:
TSMC.tail(5)

         mdate  open_d  high_d  low_d  close_d
240 2020-12-25   514.0   515.0  510.0    511.0
241 2020-12-28   512.0   515.0  509.0    515.0
242 2020-12-29   515.0   517.0  513.0    515.0
243 2020-12-30   516.0   525.0  514.0    525.0
244 2020-12-31   526.0   530.0  524.0    530.0

### 資料存取-SQLite

In [7]:
import sqlite3

In [8]:
#連接資料庫（在沒有該資料庫的時候則是會自動創造一個空的資料庫）
conn = sqlite3.connect('example.db')

#存取
TSMC.to_sql(name='TSMC', con=conn, if_exists="replace", index=False)

#讀取
sql_query = "SELECT * FROM TSMC"
TSMC = pd.read_sql(sql_query, con=conn, coerce_float=False)

#關閉資料庫
conn.close()

In [9]:
TSMC.tail(5)

                   mdate  open_d  high_d  low_d  close_d
240  2020-12-25 00:00:00   514.0   515.0  510.0    511.0
241  2020-12-28 00:00:00   512.0   515.0  509.0    515.0
242  2020-12-29 00:00:00   515.0   517.0  513.0    515.0
243  2020-12-30 00:00:00   516.0   525.0  514.0    525.0
244  2020-12-31 00:00:00   526.0   530.0  524.0    530.0