In [1]:
import requests
import pandas as pd
import json

In [3]:
# 輸入 api_key
api_key = 'your key'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?api_key='+api_key

In [4]:
rq = requests.get(url)
rq.content

In [7]:
%%time 
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

Wall time: 145 ms

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,0001,2000-01-04T00:00:00Z,14.90,15.80,14.90,15.80,286.000,4407.000,5.3333,0.1761,...,8.23,0.80,6.0000,15.80,0.00,0.00,,,,TSE
1,0001,2000-01-05T00:00:00Z,14.75,15.60,14.75,15.60,339.000,5205.250,-1.2658,0.2088,...,8.33,-0.20,5.3797,15.60,0.00,0.00,,,,TSE
2,0001,2000-01-06T00:00:00Z,15.60,16.00,15.60,15.70,315.000,4933.600,0.6410,0.1940,...,8.28,0.10,2.5641,15.70,0.00,0.00,,,,TSE
3,0001,2000-01-07T00:00:00Z,15.60,15.60,15.40,15.50,223.000,3453.700,-1.2739,0.1373,...,8.39,-0.20,1.2739,15.50,0.00,0.00,,,,TSE
4,0001,2000-01-10T00:00:00Z,15.60,16.00,15.60,15.90,156.000,2466.600,2.5806,0.0961,...,8.18,0.40,2.5806,15.90,0.00,0.00,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0050,2011-02-08T00:00:00Z,63.05,63.20,62.40,62.60,11116.268,697462.887,-0.6349,1.4242,...,3.51,-0.40,1.2698,62.60,66.95,58.25,,,,TSE
9996,0050,2011-02-09T00:00:00Z,62.50,62.60,61.70,62.00,12233.389,758615.054,-0.9585,1.5663,...,3.55,-0.60,1.4377,62.00,66.30,57.70,,,,TSE
9997,0050,2011-02-10T00:00:00Z,61.60,61.60,60.75,60.85,22906.193,1397844.338,-1.8548,2.9142,...,3.62,-1.15,1.3710,60.85,65.10,56.60,,,,TSE
9998,0050,2011-02-11T00:00:00Z,60.40,60.40,58.50,58.90,43872.076,2616283.272,-3.2046,5.5394,...,3.74,-1.95,3.1224,58.90,63.00,54.80,,,,TSE
9999,0050,2011-02-14T00:00:00Z,59.05,59.65,59.05,59.40,11080.133,657605.142,0.8489,1.3999,...,3.70,0.50,1.0187,59.40,63.55,55.25,,,,TSE

# 股票代碼篩選
- 個股
 - next_cursor_id
- 多股
 - 解決多個 next_cursor_id

In [19]:
# 個股
coid = 'Y9999'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?'+'&coid='+coid+'&api_key='+api_key
rq = requests.get(url)
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,Y9999,2000-01-04T00:00:00Z,8644.91,8803.61,8642.50,8756.55,3903000.0,228618000.0,3.6420,1.2268,...,0.78,307.71,1.9069,None,None,None,,,,TSE
1,Y9999,2000-01-05T00:00:00Z,8690.60,8867.68,8668.02,8849.87,4602000.0,252758000.0,1.0657,1.4613,...,0.78,93.32,2.2801,None,None,None,,,,TSE
2,Y9999,2000-01-06T00:00:00Z,8876.59,9023.99,8863.91,8922.03,4811000.0,268146000.0,0.8154,1.5212,...,0.77,72.16,1.8088,None,None,None,,,,TSE
3,Y9999,2000-01-07T00:00:00Z,8856.87,8940.77,8739.43,8845.47,4481000.0,222699000.0,-0.8581,1.4300,...,0.78,-76.56,2.2567,None,None,None,,,,TSE
4,Y9999,2000-01-10T00:00:00Z,8918.60,9126.02,8891.79,9102.60,4363000.0,244443000.0,2.9069,1.3727,...,0.76,257.13,2.6480,None,None,None,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5296,Y9999,2021-05-13T00:00:00Z,15668.33,16031.93,15368.54,15670.10,14638813.0,574583620.0,-1.4606,1.4859,...,2.93,-232.27,4.1716,None,None,None,,,,TSE
5297,Y9999,2021-05-14T00:00:00Z,15819.24,16075.48,15702.10,15827.09,12850841.0,516172195.0,1.0018,1.3265,...,2.90,156.99,2.3828,None,None,None,,,,TSE
5298,Y9999,2021-05-17T00:00:00Z,15554.99,15719.74,15159.86,15353.89,13148568.0,485005511.0,-2.9898,1.3219,...,2.99,-473.20,3.5375,None,None,None,,,,TSE
5299,Y9999,2021-05-18T00:00:00Z,15564.96,16153.77,15564.96,16145.98,10897361.0,414681841.0,5.1589,1.0633,...,2.85,792.09,3.8349,None,None,None,,,,TSE
5300,Y9999,2021-05-19T00:00:00Z,16112.21,16273.98,16009.76,16132.66,11297374.0,438314000.0,-0.0825,1.2173,...,2.85,-13.32,1.6364,None,None,None,,,,TSE

In [11]:
rq.json()['meta']['next_cursor_id'] == None

True

In [20]:
# 多股
coid = 'Y9999,2330,2454,2609'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?'+'&coid='+coid+'&api_key='+api_key
rq = requests.get(url)
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,2330,2000-01-04T00:00:00Z,178.0,178.0,175.0,178.0,35125.000,6.248459e+06,6.5868,0.4579,...,0.0000,11.0,1.7964,178.0,190.0,166.0,,,,TSE
1,2330,2000-01-05T00:00:00Z,178.0,182.0,176.0,182.0,70449.937,1.263572e+07,2.2472,0.9184,...,0.0000,4.0,3.3708,182.0,194.0,170.0,,,,TSE
2,2330,2000-01-06T00:00:00Z,181.0,182.0,178.0,178.0,34579.454,6.197016e+06,-2.1978,0.4508,...,0.0000,-4.0,2.1978,178.0,190.0,166.0,,,,TSE
3,2330,2000-01-07T00:00:00Z,172.0,175.0,170.0,173.0,41182.975,7.102142e+06,-2.8090,0.5369,...,0.0000,-5.0,2.8090,173.0,185.0,161.0,,,,TSE
4,2330,2000-01-10T00:00:00Z,178.0,180.0,175.0,179.0,48342.563,8.595890e+06,3.4682,0.6302,...,0.0000,6.0,2.8902,179.0,191.0,167.0,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2454,2020-07-21T00:00:00Z,612.0,643.0,612.0,637.0,15777.808,9.951825e+06,5.9900,0.9930,...,1.6485,36.0,5.1581,637.0,700.0,574.0,,,,TSE
9996,2454,2020-07-22T00:00:00Z,659.0,670.0,651.0,664.0,17852.109,1.182799e+07,4.2386,1.1236,...,1.5815,27.0,2.9827,664.0,730.0,598.0,,,,TSE
9997,2454,2020-07-23T00:00:00Z,658.0,687.0,653.0,677.0,17793.987,1.192067e+07,1.9578,1.1199,...,1.5511,13.0,5.1205,677.0,744.0,610.0,,,,TSE
9998,2454,2020-07-24T00:00:00Z,677.0,703.0,670.0,675.0,24419.901,1.679589e+07,-0.2954,1.5369,...,1.5557,-2.0,4.8744,675.0,742.0,608.0,,,,TSE
9999,2454,2020-07-27T00:00:00Z,695.0,737.0,691.0,728.0,21431.219,1.530597e+07,7.8519,1.3488,...,1.4424,53.0,6.8148,728.0,800.0,656.0,A,,,TSE

In [21]:
rq.json()['meta']['next_cursor_id']

'05ZhtlBGvL'

In [14]:
def tej_get_data(db_code,api_key,coid=None,columns=None):
#     import requests
#     import pandas as pd
    common = 'https://api.tej.com.tw/api/datatables/'+ db_code +'.json?'
    if (coid==None) & (columns==None):
        tej_url = common+'&api_key='+api_key
    elif (coid!=None) & (columns==None):
        tej_url = common+'&api_key='+api_key+'&coid='+coid
    elif (coid==None) & (columns!=None):
        tej_url = common+'&api_key='+api_key+'&opts.columns='+columns
    else:
        tej_url = common+'&api_key='+api_key+'&coid='+coid+'&opts.columns='+columns
    #print('get url:'+tej_url)
    rq = requests.get(tej_url)
    id_ = rq.json()['meta']['next_cursor_id']
    data = rq.json()['datatable']['data']
    columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
    stock_price = pd.DataFrame(data,columns=columns)
    #print('get next_cursor_id:'+id_)
    while id_ != None:
        urls = tej_url+'&opts.cursor_id='+id_
        #print('get url:'+urls)
        rqs = requests.get(urls)
        id_ = rqs.json()['meta']['next_cursor_id']
        data = rqs.json()['datatable']['data']
        columns = pd.DataFrame(rqs.json()['datatable']['columns'])['cname'].to_list()
        temp = pd.DataFrame(data,columns=columns)
        stock_price = stock_price.append(temp).reset_index(drop=True)
        #print('get next_cursor_id:'+id_)
    return stock_price

In [ ]:
# 多股
coid = 'Y9999,2330,2454,2609'

stock_price = tej_get_data(
                    db_code='TWN/APRCD',
                    api_key=api_key,
                    coid = coid)

stock_price

In [23]:
%%time 
table = tej_get_data(db_code='TWN/APRCD',
             api_key = 'vYThQVdBGgPCsuDksnTEYJ3cr4zS8f',
             coid = 'Y9999,2330,2454,2609,2409,2610,2303,9904',
             columns= 'coid,mdate,open_d,high_d,low_d,close_d'
            )

Wall time: 3.88 s

In [24]:
table

        證券代碼                   年月日    開盤價(元)    最高價(元)    最低價(元)    收盤價(元)
0       2303  2000-01-04T00:00:00Z    117.00    119.50    115.00    118.50
1       2303  2000-01-05T00:00:00Z    116.00    118.50    115.00    118.00
2       2303  2000-01-06T00:00:00Z    118.00    118.00    115.00    115.50
3       2303  2000-01-07T00:00:00Z    112.50    113.50    109.00    112.00
4       2303  2000-01-10T00:00:00Z    107.00    116.00    107.00    115.00
...      ...                   ...       ...       ...       ...       ...
41814  Y9999  2021-05-13T00:00:00Z  15668.33  16031.93  15368.54  15670.10
41815  Y9999  2021-05-14T00:00:00Z  15819.24  16075.48  15702.10  15827.09
41816  Y9999  2021-05-17T00:00:00Z  15554.99  15719.74  15159.86  15353.89
41817  Y9999  2021-05-18T00:00:00Z  15564.96  16153.77  15564.96  16145.98
41818  Y9999  2021-05-19T00:00:00Z  16112.21  16273.98  16009.76  16132.66

[41819 rows x 6 columns]

In [ ]:
table[table['證券代碼']=='9904']

# 欄位篩選
- 單一欄位
- 多欄位

In [25]:
# 單一欄位
coid = 'Y9999'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?&opts.columns=open_d'+'&api_key='+api_key+'&coid='+coid
rq = requests.get(url)
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

        開盤價(元)
0      8644.91
1      8690.60
2      8876.59
3      8856.87
4      8918.60
...        ...
5296  15668.33
5297  15819.24
5298  15554.99
5299  15564.96
5300  16112.21

[5301 rows x 1 columns]

In [26]:
# 多欄位
coid = 'Y9999'
columns = 'coid,mdate,open_d,high_d,low_d,close_d'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?'+'&opts.columns='+columns+'&api_key='+api_key+'&coid='+coid
rq = requests.get(url)
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

       證券代碼                   年月日    開盤價(元)    最高價(元)    最低價(元)    收盤價(元)
0     Y9999  2000-01-04T00:00:00Z   8644.91   8803.61   8642.50   8756.55
1     Y9999  2000-01-05T00:00:00Z   8690.60   8867.68   8668.02   8849.87
2     Y9999  2000-01-06T00:00:00Z   8876.59   9023.99   8863.91   8922.03
3     Y9999  2000-01-07T00:00:00Z   8856.87   8940.77   8739.43   8845.47
4     Y9999  2000-01-10T00:00:00Z   8918.60   9126.02   8891.79   9102.60
...     ...                   ...       ...       ...       ...       ...
5296  Y9999  2021-05-13T00:00:00Z  15668.33  16031.93  15368.54  15670.10
5297  Y9999  2021-05-14T00:00:00Z  15819.24  16075.48  15702.10  15827.09
5298  Y9999  2021-05-17T00:00:00Z  15554.99  15719.74  15159.86  15353.89
5299  Y9999  2021-05-18T00:00:00Z  15564.96  16153.77  15564.96  16145.98
5300  Y9999  2021-05-19T00:00:00Z  16112.21  16273.98  16009.76  16132.66

[5301 rows x 6 columns]

# 日期篩選

In [34]:
# 日期篩選
import datetime
coid = 'Y9999'
start = '2020-01-01'
end = '2020-12-31'
url = 'https://api.tej.com.tw/api/datatables/TWN/APRCD.json?'+'&mdate.gte='+start+'&mdate.lte='+end+'&api_key='+api_key+'&coid='+coid
rq = requests.get(url)
data = rq.json()['datatable']['data']
columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,Y9999,2020-01-02T00:00:00Z,12026.50,12110.74,12026.23,12100.48,4335855.0,142714556.0,0.8614,0.2905,...,3.58,103.34,0.7044,None,None,None,,,,TSE
1,Y9999,2020-01-03T00:00:00Z,12167.44,12197.64,12023.60,12110.43,5527302.0,193759680.0,0.0822,0.3676,...,3.58,9.95,1.4383,None,None,None,,,,TSE
2,Y9999,2020-01-06T00:00:00Z,12035.71,12040.08,11953.36,11953.36,4679171.0,144304046.0,-1.2970,0.3351,...,3.63,-157.07,0.7161,None,None,None,,,,TSE
3,Y9999,2020-01-07T00:00:00Z,11961.97,11986.03,11822.40,11880.32,4659753.0,166420714.0,-0.6110,0.3343,...,3.65,-73.04,1.3689,None,None,None,,,,TSE
4,Y9999,2020-01-08T00:00:00Z,11818.76,11899.67,11777.45,11817.10,5076957.0,150679445.0,-0.5321,0.3476,...,3.67,-63.22,1.0288,None,None,None,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Y9999,2020-12-25T00:00:00Z,14306.98,14400.83,14296.97,14331.42,7354213.0,214088716.0,0.3581,0.7600,...,2.83,51.14,0.7273,None,None,None,,,,TSE
241,Y9999,2020-12-28T00:00:00Z,14363.45,14483.07,14363.45,14483.07,8522466.0,252198708.0,1.0582,0.8856,...,2.80,151.65,0.8347,None,None,None,,,,TSE
242,Y9999,2020-12-29T00:00:00Z,14500.91,14547.07,14435.03,14472.05,9485864.0,287984416.0,-0.0761,1.0413,...,2.80,-11.02,0.7736,None,None,None,,,,TSE
243,Y9999,2020-12-30T00:00:00Z,14485.97,14695.44,14476.69,14687.70,8345169.0,263723474.0,1.4901,0.8798,...,2.76,215.65,1.5115,None,None,None,,,,TSE
244,Y9999,2020-12-31T00:00:00Z,14704.53,14760.06,14646.33,14732.53,8098938.0,260682229.0,0.3052,0.8326,...,2.75,44.83,0.7743,None,None,None,,,,TSE

# 資料表資訊查詢

In [42]:
datatable_code = 'TWN/APRCD'
url = 'https://api.tej.com.tw/api/datatables/'+datatable_code+'/metadata?api_key='+api_key
rq = requests.get(url)
rq.json()

{'datatable': {'dbCode': 'TWN',
  'tableCode': 'APRCD',
  'name': '上市(櫃)未調整股價(日)',
  'description': '上市(櫃)未調整股價(日)(TWN/APRCD)<br />【資料範圍】上市的證券及指數(TSE及OTC)<br />【資料期間】2000年至今<br />【資料頻率】日<br />【資料表分類】交易<br />【代碼對照表】TWN/ANPRCSTD<br />【代碼欄位】<br />【發佈日期欄位】mdate',
  'filters': ['coid',
   'mdate',
   'open_d',
   'high_d',
   'low_d',
   'close_d',
   'volume',
   'amount',
   'roi',
   'turnover',
   'outstanding',
   'mv',
   'bid',
   'offer',
   'roib',
   'mv_pct',
   'amt_pct',
   'trn_d',
   'per_tse',
   'per_tej',
   'pbr_tse',
   'pbr_tej',
   'limit',
   'tej_psr',
   'div_yid',
   'tej_cdiv',
   'clschg',
   'hmlpct',
   'refprc',
   'u_limit',
   'd_limit',
   'xattn1',
   'xattn2',
   'xstat1',
   'pmkt'],
  'primaryKey': ['coid', 'mdate'],
  'status': {'status': 'OK', 'refreshed_at': '2021-05-19T06:43:43Z'},
  'pivot': False,
  'columns': [{'name': 'coid',
    'type': 'char(7)',
    'cname': '證券代碼',
    'description': '交易所及櫃檯買賣中心所訂的代碼',
    'unit': '-'},
   {'name': 'mdate',
    'type': 'datetime',
    'cname': '年月日',
    'description': '年月日',
    'unit': '-'},
   {'name': 'open_d',
    'type': 'decimal(11,4)',
    'cname': '開盤價(元)',
    'description': '興櫃股票不提供開盤價，本處之開盤價為前一交易日之收盤價。首次上興櫃日當日開盤價以[－]值代入',
    'unit': 'NTD'},
   {'name': 'high_d',
    'type': 'decimal(11,4)',
    'cname': '最高價(元)',
    'description': '若當日無成交，以前一交易日收盤價代入',
    'unit': 'NTD'},
   {'name': 'low_d',
    'type': 'decimal(11,4)',
    'cname': '最低價(元)',
    'description': '若當日無成交，以前一交易日收盤價代入',
    'unit': 'NTD'},
   {'name': 'close_d',
    'type': 'decimal(11,4)',
    'cname': '收盤價(元)',
    'description': '若當日無成交，以前一交易日收盤價代入',
    'unit': 'NTD'},
   {'name': 'volume',
    'type': 'decimal(19,3)',
    'cname': '成交量(千股)',
    'description': '當日若成交量為0，表示當日無交易，此時之開高低收價格為前一日之收盤價<br />除加權指數(Y9999)外，產業部分由TEJ衍生，為成分股成交量之加總',
    'unit': 'T'},
   {'name': 'amount',
    'type': 'decimal(19,3)',
    'cname': '成交值(千元)',
    'description': '未無考慮公眾流通量(free float)；除加權指數(Y9999)外，產業部分由TEJ衍生',
    'unit': 'NTD,T'},
   {'name': 'roi',
    'type': 'decimal(11,4)',
    'cname': '報酬率％',
    'description': '當OTC轉至TSE交易時，報酬率以承銷價計算，若無承銷價，則以OTC最後一天之收盤價來計算。',
    'unit': '%'},
   {'name': 'turnover',
    'type': 'decimal(9,4)',
    'cname': '週轉率％',
    'description': '個股=成交量/流通股數*100(%)；產業＝產業成交量總額/產業流通股數*100(%)',
    'unit': '%'},
   {'name': 'outstanding',
    'type': 'decimal(12,0)',
    'cname': '流通在外股數(千股)',
    'description': '流通在外股數(千股)',
    'unit': 'T'},
   {'name': 'mv',
    'type': 'decimal(12,0)',
    'cname': '市值(百萬元)',
    'description': '個股：流通在外股數(個股)*未調整收盤價；<br />指數：為反映該股票於市場上實際可流通之股數，會將各成分股之公開發行股數扣除長期性、策略性持  股比例，故計算指數市值時，若該指數有考慮公眾流通量(交易所與FTSE合編的指數)，則市值公式=未調整收盤價*流通在外股數(個股)*公眾流通係數(此係數由交易所提供)',
    'unit': 'NTD,T'},
   {'name': 'bid',
    'type': 'decimal(11,4)',
    'cname': '最後揭示買價',
    'description': '最後揭示買價',
    'unit': 'NTD'},
   {'name': 'offer',
    'type': 'decimal(11,4)',
    'cname': '最後揭示賣價',
    'description': '最後揭示賣價',
    'unit': 'NTD'},
   {'name': 'roib',
    'type': 'decimal(11,4)',
    'cname': '報酬率-Ln',
    'description': '報酬率-Ln',
    'unit': '-'},
   {'name': 'mv_pct',
    'type': 'decimal(7,3)',
    'cname': '市值比重％',
    'description': '=市值/加權指數有效成分股總市值*100(%)<br />(產業之市值比重:產業有效成分股之總市值/加權指數有效成分股總市值*100(%))',
    'unit': '%'},
   {'name': 'amt_pct',
    'type': 'decimal(7,3)',
    'cname': '成交值比重％',
    'description': '=成交值/加權指數有效成分股總成交值*100(%)',
    'unit': '%'},
   {'name': 'trn_d',
    'type': 'decimal(9,0)',
    'cname': '成交筆數(筆)',
    'description': '成交筆數(筆)',
    'unit': '-'},
   {'name': 'per_tse',
    'type': 'decimal(11,4)',
    'cname': '本益比-TSE',
    'description': '=收盤價/最近4季合計之每股淨利，交易所提供',
    'unit': '-'},
   {'name': 'per_tej',
    'type': 'decimal(11,4)',
    'cname': '本益比-TEJ',
    'description': '=收盤價/最近4季合計之每股常續性淨利，TEJ提供<br />本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新常續性淨利資料，首次上市需滿一年的次一年度1/1始計算。',
    'unit': '-'},
   {'name': 'pbr_tse',
    'type': 'decimal(11,4)',
    'cname': '股價淨值比-TSE',
    'description': '=收盤價/每股淨值，交易所提供(不含興櫃)。<br />TSE自民國94年9月1日開始提供，OTC自民國92年8月開始提供',
    'unit': '-'},
   {'name': 'pbr_tej',
    'type': 'decimal(11,4)',
    'cname': '股價淨值比-TEJ',
    'description': 'TEJ 衍生，本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新股東權益資料，首次上市需滿一年的次一年度1/1始計算。',
    'unit': '-'},
   {'name': 'limit',
    'type': 'char(1)',
    'cname': '漲跌停',
    'description': '股票漲停：”+”；跌停：”-“',
    'unit': '-'},
   {'name': 'tej_psr',
    'type': 'decimal(11,4)',
    'cname': '股價營收比-TEJ',
    'description': '=市值/最近4季合計之營收，TEJ提供<br />本欄位需搭配財報發布時間，目前更新方式為每年6/1、10/1、及12/1更新營收資料，首次上市需滿一年的次一年度1/1始計算。',
    'unit': '-'},
   {'name': 'div_yid',
    'type': 'decimal(11,4)',
    'cname': '股利殖利率-TSE',
    'description': '即每股股利與當日名目收盤價之比值，其中每股股利=該公司每股配發之現金股利+盈餘轉增資股票股利。<br />此欄位由交易所提供，其中97/07/17以前之資料交易所計算方式係採取前一筆有發放股利之資料來計算，即當年度公司不發放股利，則以前一年度或更早以前的股利資料計算不合理，故97/07/17交易所已修正為以該年度之資料來計算，故前後期資料會有所差異。',
    'unit': '%'},
   {'name': 'tej_cdiv',
    'type': 'decimal(11,4)',
    'cname': '現金股利率',
    'description': '=現金股利總額/市值*100%，TEJ提供',
    'unit': '%'},
   {'name': 'clschg',
    'type': 'decimal(11,4)',
    'cname': '股價漲跌(元)',
    'description': '股價漲跌(元)',
    'unit': '-'},
   {'name': 'hmlpct',
    'type': 'decimal(11,4)',
    'cname': '高低價差%',
    'description': '高低價差%',
    'unit': '%'},
   {'name': 'refprc',
    'type': 'decimal(10,4)',
    'cname': '次日開盤參考價',
    'description': '次日開盤參考價',
    'unit': '-'},
   {'name': 'u_limit',
    'type': 'decimal(10,4)',
    'cname': '次日漲停價',
    'description': '次日漲停價',
    'unit': '-'},
   {'name': 'd_limit',
    'type': 'decimal(10,4)',
    'cname': '次日跌停價',
    'description': '次日跌停價',
    'unit': '-'},
   {'name': 'xattn1',
    'type': 'char(1)',
    'cname': '注意股票(A)',
    'description': '公布異常交易有價證券之交易資訊',
    'unit': '-'},
   {'name': 'xattn2',
    'type': 'char(1)',
    'cname': '處置股票(D)',
    'description': '對連續公布注意交易資訊之有價證券採取之處置措施',
    'unit': '-'},
   {'name': 'xstat1',
    'type': 'char(1)',
    'cname': '全額交割(Y)',
    'description': '全額交割(Y)',
    'unit': '-'},
   {'name': 'pmkt',
    'type': 'char(5)',
    'cname': '市場別',
    'description': '市場別',
    'unit': '-'}]}}

# 搜尋功能

In [43]:
key_word = '每股盈餘'
url = 'https://api.tej.com.tw/api/search/table/'+key_word+'?api_key='+api_key
rq = requests.get(url)
rq.json()

{'result': {'tables': [{'matchType': 'COLUMN_MATCH',
    'tableId': 'TRAIL/TASALE',
    'tableName': '上市(櫃)月營收盈餘',
    'tableDesc': '【資料範圍】上市、上櫃及興櫃公司<br/>【資料來源】主要來自月營收公告；盈餘、預估、逾放比率則由公司自結損益公告、財務報告、資本形成檔及新聞報導等資訊彙整。<br />2012年12月以前，個體營收須於每月10日以前強制性發布；合併營收主要來自公司新聞報導、重大訊息及法說會。<br/>2013年01月起採用IFRS(國際會計準則)後，財務報表係以合併報表為主，為配合此項改變，月營收改以公告「合併營收」取代「個體營收」，若無子公司者，則應申報個別營收。興櫃及未上市(櫃)之公開發行公司則自2015會計年度開始適用，但可提前至2013/1開始適用。<br />2012年轉換IFRS過渡期之資訊，仍保持當時揭露之原值，但2013年度開始適用IFRS的，去年同期資訊，則會代入轉換成IFRS後之數值。',
    'columns': [{'name': 'r34',
      'type': 'decimal(9,2)',
      'cname': '累計每股稅後盈餘(元)',
      'description': '累計稅後盈餘累計稅後盈餘(千元) /流通在外股數流通在外股數(千股)<br />自2007/12起， 若遇第1、2、3、4季有公司自結數或財報數時，優先採公司揭露之每股盈餘，餘則TEJ用上列公式設算之。<br />※2012/12以前係母公司資料，2013/01改揭露以合併為主之資料替代。',
      'unit': 'NTD'}]},
   {'matchType': 'TABLE_MATCH & COLUMN_MATCH',
    'tableId': 'TWN/ACSR27A',
    'tableName': '基層員工薪酬',
    'tableDesc': '【資料範圍】證券交易所和櫃買中心<br />【資料期間】起自2008年<br />【資料頻率】日<br />【資料表分類】公司治理<br />【代碼對照表】\tTWN/AIND<br />【代碼欄位】coid<br />【發佈日期欄位】mdate<br />',
    'columns': [{'name': 'salary_ttl',
      'type': 'decimal(15,0)',
      'cname': '薪資總額(仟元)',
      'description': '公司每股盈餘',
      'unit': '元'},
     {'name': 'eps',
      'type': 'decimal(15,2)',
      'cname': '每股盈餘(元)',
      'description': '在台僱用之年度平均員工人數。',
      'unit': '-'},
     {'name': 'eps_avg_ind',
      'type': 'decimal(15,2)',
      'cname': '產業平均每股盈餘(元)',
      'description': '產業統計係採上市、上櫃分別計算。各公司統計時所屬產業相同、市場別相同之[歸屬於母公司普通股業主之淨損益之總和÷流通在外普通股年度平均股數之總和]之平均數',
      'unit': '元'}]},
   {'matchType': 'COLUMN_MATCH',
    'tableId': 'TWN/AF1N',
    'tableName': '上市(櫃)公司未經會計師簽證財務資料',
    'tableDesc': '上市(櫃)公司未經會計師簽證財務資料(TWN/AF1N)<br />【資料範圍】上市櫃及興櫃公司<br />【資料期間】1998年起<br />【資料頻率】季<br />【資料表分類】交易<br />【代碼對照表】TWN/AFINSTD<br />【代碼欄位】coid<br />【發佈日期欄位】date1',
    'columns': [{'name': 't3990s',
      'type': 'decimal(12,2)',
      'cname': '每股盈餘(元)',
      'description': '每股盈餘(元)',
      'unit': 'U'}]},
   {'matchType': 'COLUMN_MATCH',
    'tableId': 'TWN/ASALE',
    'tableName': '上市(櫃)月營收盈餘',
    'tableDesc': '上市(櫃)月營收盈餘(TWN/ASALE)<br />【資料範圍】上市、上櫃及興櫃公司<br />【資料來源】主要來自月營收公告；盈餘、預估、逾放比率則由公司自結損益公告、財務報告、資本形成檔及新聞報導等資訊彙整。<br />2012年12月以前，個體營收須於每月10日以前強制性發布；合併營收主要來自公司新聞報導、重大訊息及法說會。<br />2013年01月起採用IFRS(國際會計準則)後，財務報表係以合併報表為主，為配合此項改變，月營收改以公告「合併營收」取代「個體營收」，若無子公司者，則應申報個別營收。興櫃及未上市(櫃)之公開發行公司則自2015會計年度開始適用，但可提前至2013/1開始適用。<br />2012年轉換IFRS過渡期之資訊，仍保持當時揭露之原值，但2013年度開始適用IFRS的，去年同期資訊，則會代入轉換成IFRS後之數值。<br />【資料期間】2008年至今<br />【資料頻率】月<br />【資料表分類】交易<br />【對照代碼表】 TWN/AIND<br />【代碼欄位】<br />【發佈日期欄位】mdate',
    'columns': [{'name': 'r34',
      'type': 'decimal(9,2)',
      'cname': '累計每股稅後盈餘(元)',
      'description': '累計稅後盈餘累計稅後盈餘(千元) /流通在外股數流通在外股數(千股)<br />自2007/12起， 若遇第1、2、3、4季有公司自結數或財報數時，優先採公司揭露之每股盈餘，餘則TEJ用上列公式設算之。<br />※2012/12以前係母公司資料，2013/01改揭露以合併為主之資料替代。',
      'unit': 'NTD'}]},
   {'matchType': 'COLUMN_MATCH',
    'tableId': 'TWN/EWIFINQ',
    'tableName': '單季財務資料表',
    'tableDesc': '提供上市上櫃公司，精選單季財報重要資料<br />【資料範圍】上市上櫃的公司<br />【資料期間】未限制<br />【資料頻率】季<br />【資料表分類】交易<br />【代碼欄位】coid<br />【發佈日期欄位】mdate<br />',
    'columns': [{'name': 'ac_3990',
      'type': 'decimal(17,2)',
      'cname': '每股盈餘',
      'description': '每股盈餘-年化',
      'unit': '元'}]}]}}